/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* utilities */
.container{
    display: flex;
}

/*----------------------------------------------------------
                          top banner
-----------------------------------------------------------*/
.top-banner{
    width: 1321px;
    height: 646px;
    background-color: #097969;
    border-radius: 20px;
}
.half-width{
    width: 50%;
}
.banner-title{
    padding: 20px 10px 0 106px;
    color: white;
}
.banner-title h1{
    font-size: 70px;
}

.banner-title p{
    font-size: 16px;
}
@keyframes watch-live {
    from{
        color:rgb(185, 88, 4);
    }
    to{
        color:rgb(255, 113, 88);
    }
}
.banner-title a{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, #0c483cae,#11714b);
    padding: 16px 60px 16px 25px;
    border-radius: 10px;
    animation: watch-live 1.5s ease-in-out 0.1s infinite alternate;
}
@keyframes play {
    from{
        color:rgb(0, 148, 0);
        left: 5px;
        /* transform: scale(0.8); */
    }
    to{
        color:rgb(10, 207, 95);
        left: 15px;
        /* transform: scale(1.5); */
    }
}
.fa-play{
    position: relative;
    padding-left: 10px; 
    animation: play 1.5s ease-in-out 0.1s infinite alternate;
}
.half-width img{
    padding: 33px 0 0 0;
    width: 581px;
    height: 613px;
    margin-left: 30px;
}
