/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* utilities */
.container{
    display: flex;
    margin-bottom: 100px;
}

/*----------------------------------------------------------
                          top banner
-----------------------------------------------------------*/
.top-banner{
    width: 1321px;
    height: 646px;
    /* background-color: #097969; */
    background-color: #023020;
    border-radius: 20px;
}
.half-width{
    width: 50%;
}
.banner-title{
    padding: 20px 10px 0 106px;
    color: white;
}
.banner-title h1{
    font-size: 70px;
    margin-bottom: -5px;
}

.banner-title p{
    font-size: 16px;
}
@keyframes watch-live {
    from{
        color:rgb(185, 88, 4);
    }
    to{
        color:rgb(255, 113, 88);
    }
}
.banner-title a{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, #12715eae,#148c5c);
    padding: 16px 60px 16px 25px;
    border-radius: 10px;
    animation: watch-live 1.5s ease-in-out 0.1s infinite alternate;
}
@keyframes play {
    from{
        color:rgb(0, 148, 0);
        left: 5px;
        /* transform: scale(0.8); */
    }
    to{
        color:rgb(10, 207, 95);
        left: 15px;
        /* transform: scale(1.5); */
    }
}
.fa-play{
    position: relative;
    padding-left: 10px; 
    animation: play 1.5s ease-in-out 0.1s infinite alternate;
}
.half-width img{
    padding: 33px 0 0 0;
    width: 581px;
    height: 613px;
    margin-left: 30px;
}


/*----------------------------------------------------------
                        Blogs Buttons
-----------------------------------------------------------*/
.buttons{
    display: flex;
    flex-direction: column;
    background-color: #023020;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    align-items: center;
    margin-right: 20px;
}
.buttons a{
    text-decoration: none;
    color: black;
    background-color:white;
    padding: 15px 0px;
    margin-top: 28px;
    border-radius: 10px;
    width: 255px;
    height: 35px;
    text-align: center;
}
#blog-button{
    background-color: red;
}

/*----------------------------------------------------------
                        Blogs articles
-----------------------------------------------------------*/
.blogs{
    display: flex;
}
.blog-article{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    width: 70%;
    /* justify-items: center; */
}
.article{
    border: 1px solid lightgray;
    width: 312px;
    height: 362px;
    border-radius: 10px;
}
.article-detail{
    padding: 0px 10px 10px 10px;  
}
.article-detail p{
    font-weight: 500;
    font-size: 18px;
}
.article a{
    text-decoration: none;
    color: black;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px 10px;
}
.article-icon{
    color: grey;
    font-size: 15px;
}
.fa-clock{
    margin-right: 10px;
}
.fa-comment-dots{
    margin-left: 30px;
    margin-right: 10px;
}
